.App {
  text-align: center;
  margin: 0 auto;
}

h1{
  padding-top: 20px;
}

.App-logo {
  height: 25vmin;
  pointer-events: none;
  margin-top: 1em;
  
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin 20s linear;
  }
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(45deg);
  }
}

.search {
  padding: 2em;
}

.container {
  max-width: 700px;
  margin: auto;
}

.todolist{
  max-width: 310px;
  margin: auto;
  margin-top: 5px;
  padding: .5em 0;
  border: 1px solid grey;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;

}

.delete{
  position: relative;
  right: 0px;
}

.delete:hover {
  cursor: pointer;
}

.checkmark{
  position: relative;
  left: 0px;
}